<!DOCTYPE html>
<html>
  <head></head>
  <h2>Welcome to TinyApp! </h2>
  <body style="font-size:20px; padding:20px;">
    <form action="/login" method="POST" style="margin:80px;">
      <label type="email" name = "email">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type="email" name="email" placeholder="yourname@email.com"><br><br>
      <label type="password" name ="password">Password: </label>
      <input type="password" name="password" placeholder="******"><br><br>
      <input type="submit" value="Login">&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://localhost:8080/">Back</a>
    </form>
  </body>
</html>