<!DOCTYPE html>
<html>
  <head></head>
  <h2>Please Register Here! </h2>
  <body style="font-size:20px; padding:20px;">
    <form action="/register" method="POST" style="margin:50px;">
      <label for="email">Email : </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="email" name="email" placeholder="yourname@email.com"><br><br>
      <label for="password">Password : </label>
      <input type="password" name="password" placeholder="******"><br><br>
      <input type="submit" value="Create Account">&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://localhost:8080/">Back</a>
    </form>
  </body>
</html>